/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html, body { height: 100%;
background-color: var(--tutor-primary);
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 40px;
}

:root {
  --tutor-accent: #d9b1e2;
  --tutor-primary: #f3ece3;
  --tutor-secondary: #53cace;
  --tutor-tertiary: #f3ddc1;

  --text-color: #050606;

  --text-h1: Manrope;

  .manrope-semibold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

}


