<app-header></app-header>
<div class="container my-homepage">
  <div class="row">
    <div class="col-12 text-center pt-4">
      <h1>Welcome </h1>
      <h1>to the Tutor's App!</h1>
    </div>
    <div class="col-12 text-center">
      <img ngSrc="Pupil_image.png" alt="Pupil" width="400" height="400" class="my-radius" priority>
    </div>
    <div class="col-12 text-center py-2">
      <button mat-flat-button routerLink="/signup">Sign Up</button>
    </div>
    <div class="col-12 text-center py-2">
      <button mat-flat-button>Login</button>
    </div>
  </div>
</div>
